@use "./../variables" as *;
@use "./../utils" as *;
@use "./../mixins" as *;

.confirmation-page {
    background-color: $color-tertiary-green;
    display: flex;
    padding: 128px 233px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;

    &__hero {
        color: $color-neutral-white;
    }
    
    &__container {
        background-color: $color-neutral-white;
        display: flex;
        padding: pxToRem(50) pxToRem(20);
        flex-direction: column;
        justify-content: center;
        align-self: stretch;
        gap: 26px;
    }

    &__title {
        color: $color-secondary-green;
    }
}

.icon {
    &__checkmark {
        width: pxToRem(60);
    }
}