@use "./../variables" as *;
@use "./../utils" as *;
@use "./../mixins" as *;

.confirmation-page {
    background-color: $color-tertiary-green;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;

    &__hero {
        color: $color-neutral-white;
        padding: pxToRem(10) pxToRem(20);
    }

    &__container {
        background-color: $color-neutral-white;
        display: flex;
        padding: pxToRem(50) pxToRem(20);
        margin: pxToRem(20);
        flex-direction: column;
        justify-content: center;
        align-self: stretch;
        gap: 26px;

        @include tablet {
            align-self: center;
            padding: pxToRem(50) pxToRem(30);
        }
    }

    &__title {
        color: $color-secondary-green;
    }

    &__description-container {
        padding: pxToRem(20) pxToRem(60);
        @include desktop {
            padding: pxToRem(20) pxToRem(85);
        }
    }
}

.icon {
    &__checkmark {
        width: pxToRem(60);
    }
}

.audience-result {
    margin: 2rem;
    display: flex;
    padding: pxToRem(50) pxToRem(20);
    flex-direction: column;
    justify-content: center;
    align-self: stretch;
    align-items: center;
    background-color: $color-neutral-white;

    @include tablet {
        align-self: center;
    }

    &__header {
        color: $color-secondary-green
    }

    &__card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
        margin-top: 1rem;
    }

    &__img {
        width: 3rem;
        background-color: #F6FAF0;
        border-radius: 10rem;
        padding: 2rem;
    }

    &__link {
        color: $color-primary-green;
        font-size: 1.5rem;
        font-style: bold;
    }

    &__text {
        padding: 1rem;
        margin-top: -0.5rem;
    }

    &__student {
        display: none;
    }

    &__retiree {
        display: none;
    }

    &__canada {
        display: none;
    }

    &__homeowner {
        display: none;
    }

}