@use "../variables" as *;
@use "../utils" as *;
@use "../mixins" as *;

.hero-banner {

    height: 50vh;
    min-height: 400px;
    width: 100%;
    background-image: url('../../../assets/images/hero.jpg');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    @include tablet {
        height: 60vh;
    }

    @include desktop {
        height: 70vh;
    }
}

.hero__content {
    padding: 0 pxToRem(20);
    text-align: center;
    color: white;
    z-index: 2;
    position: relative;
}

.hero__title {

    font-size: pxToRem(32);

    @include tablet {
        font-size: pxToRem(48);
    }

    @include desktop {
        font-size: pxToRem(64);
    }
}

.hero__link {
    display: flex;
    flex-direction: column;
    gap: pxToRem(10);
    justify-content: center;

    @include desktop {
        flex-direction: row;
    }
}

.cta__join {
    text-decoration: none;
    border-radius: pxToRem(8);
    border: 1px solid $color-tertiary-green;
    background-color: $color-tertiary-green;
    color: white;
    line-height: 100%;
    font-size: pxToRem(17);
    font-size: 700;
    padding: pxToRem(16) pxToRem(32)
}

.cta-button {
    text-decoration: none;
    border-radius: pxToRem(8);
    border: 1px solid white;
    color: $color-neutral-900;
    background-color: white;
    font-size: pxToRem(17);
    font-size: 700;
    padding: pxToRem(16) pxToRem(32)
}

.card__wrapper {

    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: pxToRem(48) pxToRem(16);

    @include tablet {
        padding: pxToRem(64) pxToRem(40);
    }

    @include desktop {
        padding: pxToRem(80) pxToRem(120);
    }
}

.product-intro {
    text-align: center;
    margin: 0 auto pxToRem(24);

    &__title {
        font-weight: 700;
        font-size: pxToRem(28);
        color: $color-neutral-900;

        @include tablet {
            font-size: pxToRem(36);
        }

        @include desktop {
            font-size: pxToRem(48);
        }
    }

    &__details {
        font-size: pxToRem(16);
        font-weight: 400;
        color: $color-neutral-300;

        @include tablet {
            font-size: pxToRem(18);
        }

        @include desktop {
            font-size: pxToRem(20);
        }
    }
}

.product {
    &__text-content {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: pxToRem(20) pxToRem(10);

        @include desktop {
            width: 50%;
            padding-left: pxToRem(40);
            padding-right: 0;
        }
    }

    //divya will update this
    &__image {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: pxToRem(20) pxToRem(10);
        width: 100%;
        height: auto;
        object-fit: contain;


        @include tablet {
            width: 100%;
        }

        @include desktop {
            width: 50%;
        }
    }

    &__content {

        display: flex;
        flex-direction: column;
        margin-bottom: pxToRem(48);
        width: 100%;

        @include tablet {
            margin-bottom: pxToRem(64);
        }

        @include desktop {
            flex-direction: row;
            align-items: flex-start;
            text-align: left;
            margin-bottom: pxToRem(80);
        }
    }

        &:nth-child(odd) {
            @include desktop {
                & .product__content {
                    flex-direction: row-reverse;
                }
            }
        }
    

        &__title {

            font-size: pxToRem(24);
            font-weight: 700;
            color: $color-neutral-900;

            @include tablet {
                font-size: pxToRem(28);
            }

            @include desktop {
                font-size: (32);
            }
        }

        &__details {

            font-size: pxToRem(16);
            font-weight: 400;
            color: $color-neutral-300;

            @include tablet {
                font-size: pxToRem(18);
            }

            @include desktop {
                font-size: pxToRem(20);
            }
        }

        &__points {

            font-size: pxToRem(16);
            font-weight: 400;
            color: $color-neutral-300;

            @include tablet {
                font-size: pxToRem(18);
            }

            @include desktop {
                font-size: pxToRem(20);
            }
        }

        &__tags {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 15px;
            margin: 30px auto;

            @include tablet {
                flex-direction: column;
            }

            @include desktop {
                flex-direction: row;
            }

            button {
                background-color: $color-tertiary-green;
                color: white;
                border-color: $color-tertiary-green;
                padding: 12px 30px;
                font-weight: bold;
                border-radius: 5px;
                cursor: pointer;
                outline: none;
                border-width: 2px;
                border-style: solid;
                transition: background-color 0.3s ease, border-color 0.3s ease;
            }

            .cta-button {
                background-color: white;
                color: $color-tertiary-green;
                border-color: $color-tertiary-green;

                &:hover {
                    background-color: $color-neutral-150;
                }
            }
        }
    }