@use "./../variables" as *;
@use "./../utils" as *;
@use "./../mixins" as *;


.table-banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.table-banner h3 {
    color: $color-neutral-300;
    font-size: pxToRem(14);
    font-weight: 700;
    text-align: center;

    @include tablet {
        font-size: pxToRem(18);
    }

    @include desktop {
        font-size: pxToRem(20);
    }
}

.table-banner h1 {
    color: $color-neutral-900;
    font-size: pxToRem(20);
    font-weight: 700;

    @include tablet {
        font-size: pxToRem(36);
    }

    @include desktop {
        font-size: pxToRem(48);
    }
}

.table-responsive-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
    overflow-x: auto;
}

#responses-table {
    width: 95%;
    display: block;
    border-collapse: collapse;
    font-size: pxToRem(16);

    @include tablet {
        width: 80%;
        display: table;
    }

    @include desktop {
        width: 80%;
        display: table;
    }
}

.response-table__head {
    display: none;

    @include tablet {
        display: table-header-group;
    }
}

.response-table__head th {
    color: white;
    background-color: $color-tertiary-green;
    text-align: left;
    padding: pxToRem(16);
}

#responses-table td {
    display: block;
    text-align: right;
    padding: pxToRem(10) pxToRem(15);
    color: $color-neutral-900;
    border-bottom: 1px solid $color-neutral-900;

    @include tablet {
        display: table-cell;
        text-align: left;
        padding: pxToRem(16) pxToRem(40);
        border-bottom: 1px solid $color-neutral-100;
    }
}

#responses-table tr:nth-child(odd) {
    background-color: $color-neutral-100;
}

#responses-table tr:hover {
    background-color: $color-primary-green;
}

#responses-table button {
    background-color: $color-tertiary-green;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
}

#responses-table button:hover {
    background: $color-neutral-900;
}

.google-sheet {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    &__button {
        align-self: center;
        align-content: center;
        margin-bottom: 1rem;
        padding: 0.8rem 1rem;
        border-radius: 0.4rem;
        background-color: #038203;
        color: azure;
        border: #038203 1px solid;

        &:hover {
            background-color: #026602;
            color: white;
        }
    }
}
