@use "./../variables" as *;
@use "./../utils" as *;
@use "./../mixins" as *;
@use "./../fonts" as *;

.signup-page {
    background-color: $color-tertiary-green;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    &__container {
        color: $color-neutral-white;
        text-align: center;
        padding: pxToRem(20) pxToRem(40);
        @include tablet {
            padding: pxToRem(40) pxToRem(120);
        }
    }
    &__title-container {
        @include tablet {
            padding: 0 pxToRem(20);
        }
    }
    &__description-container {
        @include tablet {
            padding: 0 pxToRem(80);
        }
    }
}

.signup-form {
    margin-bottom: pxToRem(40);
    &__container {
        background-color: $color-neutral-white;
        display: flex;
        padding: pxToRem(50) pxToRem(20);
        flex-direction: column;
        justify-content: center;
        align-self: stretch;
        gap: 15px;
        @include tablet {
            width: auto;
            padding: pxToRem(50) pxToRem(100);
        }
        @include desktop {
            padding: pxToRem(82.5) pxToRem(214);
        }
    }

    &__error {
        display: none;
        background-color: darkred;
    }

    &__input-wrapper {
        display: flex;
        flex-direction: column;
        gap: pxToRem(8);
    }

    &__input-wrapper.error { 
        .signup-form__input,
        select {
            border-color: darkred;
            border-bottom: 3px solid darkred;
        }
        .signup-form__error-message {
            display: block; 
            font-size: small;
        }
    }

    &__button {
        display: flex;
        justify-content: center;
        &--green {
            border-radius: 4px;
            background: $color-tertiary-green;
            border-radius: 4px;
            border: $color-neutral-white;
            color: $color-neutral-white;
            padding: pxToRem(8) pxToRem(80);
        }
    }

    &__input,
    &__input-wrapper select {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: pxToRem(12);
        border: 1px solid $color-neutral-200;
        background: $color-neutral-white;
        box-sizing: border-box;
        width: 100%;
        @include tablet {
            width: pxToRem(344);
        }
        @include desktop {
            width: pxToRem(500);
        }

        &:hover {
            border: 1px solid $color-tertiary-green;
        }

        &:focus {
            outline: none;
            border: 1px solid $color-tertiary-green;
            border-bottom: 3px solid $color-tertiary-green;
        }
    }
    
    &__input {
        &--error {
            font-size: small;
            color: darkred;
            display: none;
            margin-top: pxToRem(4); 
        }
    }

    &__input-label {
        font-size: small;
    }

    &__security-wrapper {
        display: flex;
        font-size: small;
        flex-direction: column;
        @include tablet {
            flex-direction: row;
            align-items: center;
        }
    }

    &__security-icon {
        width: pxToRem(40);
    }
    &__security-link {
        text-decoration: none;
        color: $color-tertiary-green;
    }
}

.dropdown-label {
    color: $color-neutral-black;
    font-size: small;
}