@use "./variables" as *;
@use "./utils" as *;
@use "./mixins" as *;

.button-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    .button {
        display: inline-block;
        padding: 0.8rem 1rem;
        border-radius: 0.4rem;
        text-decoration: none;
        cursor: pointer;
        transition: background-color 0.3s ease, color 0.3s ease;
        border: 2px solid transparent;
        font-weight: 500;
    }

    .button--signup {
        background-color: #038203;
        border-color: #038203;
        color: white;

        &:hover {
            background-color: #026602;
            color: white;
        }
    }

    .button--learnmore {
        background-color: #fff;
        border-color: #ffffff;
        color: black;
        font-weight: bold;

        &:hover {
            background-color: #e6e6e6;
            color: black;
        }
    }
}