@use "./variables" as *;
@use "./utils" as *;
@use "./mixins" as *;

.site-header {
    position: sticky;
    top: 0;
    padding: pxToRem(20);
    z-index: 1000;
    background: $color-neutral-white;
    @include desktop {
        padding: pxToRem(20) pxToRem(120);
    }

    &__banner {
        padding-top: pxToRem(20);
        background-color: $color-tertiary-green;
        position: relative;
        z-index: 1001;
    }

    &__logo {
        z-index: 1000;
        img {
            width: pxToRem(60);
            height: auto;
        }
    }

    &__hamburger {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: pxToRem(30);
        height: pxToRem(25);
        background: transparent;
        border: none;
        padding: 0;
        z-index: 1000;
        @include desktop {
            display: none;
        }
    }

    &__hamburger-line {
        display: block;
        height: pxToRem(3);
        background-color: $color-tertiary-green;
        border-radius: pxToRem(10);
        transition: all 0.3s ease-in-out;
        transform-origin: center;
    }

    &__hamburger.is-active {
        .top-line {
            transform: translateY(pxToRem(8.5)) rotate(45deg);
        }

        .middle-line {
            opacity: 0;
            transform: translateX(-30px);
        }

        .bottom-line {
            transform: translateY(-8.5px) rotate(-45deg);
        }
    }

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.primary-nav {
    &__links-wrapper {
        position: fixed; 
        top: 0; 
        left: 0;
        padding-top: pxToRem(110); 
        width: 100%;
        background-color: $color-neutral-white; 
        z-index: 100;
        display: flex;
        flex-direction: column;
        transform: translateY(-100%); 
        transition: transform 0.25s ease-in-out;
        &.is-active {
            transform: translateY(0);
        }
        @include desktop {
            display: block;
            position: static;
            transform: none;
            width: auto;
            background-color: transparent;
            transform: none;
            transition: none;
            padding: 0;
        }
    }
    &__list {
        list-style: none;
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0; 
        gap: pxToRem(5);
        @include tablet {
            gap: pxToRem(10);
        }
        @include desktop {
            display: flex; 
            align-items: center; 
            flex-direction: row;
            gap: pxToRem(53);
        }
    }
    &__item {
        text-align: center;
        padding: pxToRem(10) 0;
        &:nth-child(odd) {
            background-color: $color-neutral-100;
        }
        &:nth-child(even) {
            background-color: $color-neutral-white;
        }
        @include desktop {
            text-align: left;
            &:nth-child(odd),
            &:nth-child(even) {
                background-color: transparent;
            }
        }
    }
    &__link {
        text-decoration: none;
        color: $color-tertiary-green;
        position: relative;
        display: inline-block;

        &.is-current-page {
            font-weight: bold;
        }

        &::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 2px;
            background-color: $color-tertiary-green;
            bottom: -5px; 
            left: 0;
            transform: scaleX(0);
            transition: transform 0.3s ease-out;
        }

        &:hover::after {
            transform: scaleX(1); 
            transform-origin: bottom left;
        }
    }
}