$color-primary-green: #54b848ff;
$color-secondary-green: #003f2dff;
$color-tertiary-green: #038203ff;
$color-neutral-50: #f6faf0ff;
$color-neutral-white: #ffffffff;
$color-neutral-100: #f9f9f9ff;
$color-surface-bg: #F5F9F7ff;
$color-neutral-150: #d9d9d9ff;
$color-neutral-200: #ccccccff;
$color-neutral-300: #757575ff;
$color-neutral-900: #1c1c1cff;
$color-neutral-black: #000000ff;

$tablet-breakpoint: 768px;
$desktop-breakpoint: 1200px;